.container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  color: grey;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.text {
  font-size: 1.2rem;
}
